@{
    ViewBag.Title = "Sobre nós";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="containerLopus">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table align="center" width="80%">
                <tr>
                    <td align="center">
                        <h1>Sobre a NG TECNOLOGIA</h1>
                        <h3>Criando Soluções que atendam seu Negócio!</h3>
                    </td>
                </tr>
                <tr>
                    <td align="justify">
                        <p>
                            <h4>
                                NG Tecnologia nasceu com ideía de que as soluções possam ser desenhandas a partir da necessidade do usuário,
                                e não tentando alinhar produtos existentes no mercado com a necessidade. Acreditamos que cada usuário e cliente
                                é único, e que seu negócio requer seu conhecimento e não conhecimento de outros negócios. No mundo competitivo em
                                que estamos inseridos, um fator que pode ser considerado crucial é saber o que seus clientes precisam, e como
                                atendê-los da melhor forma.
                                Assim nasceu a NG Tecnologia em Sistemas.
                            </h4>
                        </p>
                    </td>
                </tr>

            </table>
            <!--Grid column-->
            <br /><br /><br />
            <table align="center" width="60%">
                <tr><td><br /><br /></td></tr>
                <tr>
                    
                    <td align="justify">
                        <div class="col-md-3 col-sm-3 col-lg-3">
                            <img class="img-circle" alt="150x150" src="https://media-exp1.licdn.com/dms/image/C4E03AQH9Gp-G6cnfYQ/profile-displayphoto-shrink_200_200/0?e=1608163200&v=beta&t=c2FiEP6NbVqXdgZFxnndMcnHl2e5vMEmD2ahLaiPdhs"
                                 data-holder-rendered="true">

                        </div>
                        <div class="col-md-9 col-sm-9 col-lg-9">
                            <h1>Msc Lincon Silva</h1><h3><b>CEO</b></h3>
                            <p>
                                <h4>
                                    Idealizador e pesquisador do projeto HEAR ( Helping Everyone to Actively React )<br />
                                    DBA SQL Server\ Analista de Business Intelligence.
                                    Graduado em Sistemas de informação pela Uninabuco, pós graduando em banco de dados e Mestrando em Engenharia de Software no CESAR School.
                                    Vivência profissional em: Análise de Sistemas, Administração de dados, Negócios, Requisitos, Suporte Técnico, Helpdesk,
                                    Administrador de banco de dados SQL Server 2008 e 2014 com conhecimento em MySql.
                                    Desenvolvedor Asp.NET, Silverlight, C# Desktop, Asp.MVC e C# WEB API.
                                    Responsável pela elaboração dos dashboards, utilizando a ferramenta QlikView, e criação do processo de ETL utilizando Microsoft Integration Services e arquivos qvs.

                                </h4>
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>