@{
    ViewBag.Title = "Home Page";
}

@*<div>
        <img src="~/Images/download.png" />
    </div>*@

<br />
<br />
<br />
<br />
<br />
<br /><br /><br />
<div class="containerLopus">
    <div class="row">
        <div class="jumbotron col-md-3 btn btn-primary" >
            <p>
                <img src="~/Images/group.png" height="100" width="110" />
            </p>
            <p>
                @Html.ActionLink("ALUNOS", "Index", "Alunos", null, new { @class = "btn btn-primary" })
            </p>
        </div>
        <div class="jumbotron col-md-3 btn btn-primary">
            <p>
                <img src="~/Images/networking-2.png" height="100" width="110" />
            </p>
            <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">PROFESSORES</a></p>
        </div>
        <div class="jumbotron col-md-3 btn btn-primary">
            <p>
                <img src="~/Images/group-1.png" height="100" width="110" />
            </p>
            <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">TURMAS</a></p>
        </div>
        <div class="jumbotron col-md-3 btn btn-primary">
            <p>
                <img src="~/Images/money.png" height="100" width="110" />
            </p>
            <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">FINANCEIRO</a></p>
        </div>
    </div>
</div>