@model DotNet.Highcharts.Highcharts
@{
    Layout = null;
}

<h1>Gráfico de pagamentos com status "PAGO" e "EM ABERTO"</h1>
<hr />
<div class="row">
    <div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            @(Model)
        </div>
    </div>
</div>
